.infoBox {
  min-width: 275;
  cursor: pointer;
  border-top: 10px solid transparent;
}

.infoBox--cases {
  border-top: 10px solid #cc1034;
}

.infoBox--recovered {
  border-top: 10px solid #7dd71d;
}

.infoBox--deaths {
  border-top: 10px solid #fb4443;
}

.title {
  size: 14;
}

.pos {
  margin-bottom: 12;
}
